<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mallshop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.activities.BrandDetailActivity"/>
        <activity android:name=".ui.home.activities.GoodsDetailActivity"/>
        <activity android:name=".ui.home.activities.TopicDetailActivity"/>
        <activity android:name=".ui.own.activities.RegisterActivity"/>
        <activity android:name=".ui.own.activities.LoginActivity"/>
        <activity android:name=".ui.shoppingcart.OrderActiivity"/>
        <activity android:name=".ui.own.activities.AddAddressActivity"/>
        <activity android:name=".ui.own.activities.AddressManagetActivity">
            <intent-filter>
                <action android:name="address"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>