<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.address">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".AddressManagerActivity">
            <intent-filter>
                <action android:name="address"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddAddressActivity"/>
    </application>
</manifest>